:root {
    --color-primary: #D73953;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-red: #cd3e65;
  
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
  
    --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
}

.header {
    background: url(images/headphones_hero_1.jpg) no-repeat;
    background-size: 100%;
    position: fixed; 
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
    padding: 0%;
  
}
.header-logo {
    width: 200px;
    height: 38px;
    background: url(images/logo_headphones.png);
    background-size: cover;
    position: absolute;
    left: 230px;
    top: 30px;
}
.header-links {
    display: flex;
    justify-content: space-around;
    margin-left: 60%;
    margin-right: 4%;
    color: var(--color-white);

}

li{
    margin: 23px 0;
}
a {
    text-decoration: none;
    color: var(--color-white);
    font-family: Source Sans Pro;
    font-weight: bold;

}
.links:hover {
    color: var(--color-primary);
}
.hero-text {
    position: absolute;
    left: 4.55%;
    right: 4.71%;
    top: calc(65% - 40px/2 - 136.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 14px;
    text-align: center;
    color: var(--color-white);
}
.mybtn {
	background-color: var(--color-primary);
	border-radius:28px;
	border:1px solid var(--color-primary);
	display:inline-block;
	cursor:pointer;
    color:var(--color-white);
    font-family: Source Sans Pro;
    font-size: 14px;
    padding:14px 31px;
    margin-top: 25px;
}
.mybtn:hover {
	background-color:var(--color-primary);
}

[id=scnd] {
    position: absolute;
    left: 28%;
    height: 104px;
    right: 28%;
    top: calc(85% - 104px/2 + 104.5px);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.header ul {
    list-style: none;
    overflow: hidden;
  }

  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .header .menu-icon .navicon {
    background: var(--color-white);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 23px;
    top: 30px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: var(--color-white);
    content: '';
    display: block;
    height: 120%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
    width: 13px;
  }
  
  .header .menu-icon .navicon:after {
    top: 10px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0px;
    width: 20px;
  }
 
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {

      .header .menu-icon {
        display: none;
      }
      .header-logo {
        left: 10%;
    }
    
  }

@media only screen and (max-width: 1000px) {
  [id=scnd] {
    left: 25%;
    right: 25%;
}
    .links {
        white-space: nowrap;
        margin-right: 10px;
    }


}
@media only screen and (max-width: 767px) {
    [id=scnd] {
        left: 13%;
        right: 13%;
    }
    .header-logo {
        left: 30%;
    }
    h1 {
        line-height: 1;
    }
    .header .menu-icon {
        left: 10%;
    }
    .header-links  {
        display: table;
        margin: 8% 35%;
        line-height: 3rem;
    }
    input[type=checkbox]:not(:checked) ~ label ~ .menu { 
      display: none;
    }
}
